/* Modern Color Palette & Variables */
*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

p{
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.5s;
}
p:hover {
  color: rgb(28, 57, 142);
  cursor: pointer;
}


p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;          /* distance sous le texte */
  width: 100%;
  height: 2px;
  background-color: rgb(129, 39, 227);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

p:hover::after {
  transform: scaleX(1);
}
