.popular-section {
  padding: 100px 10% 50px 10%;
  /* background-color: #fbfcff; */
}

.popular-section .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.popular-section h1 {
  font-size: 36px;
  color: #1c398e;
  font-family: sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
}

.popular-section p {
  font-size: 16px;
  color: #4a5565;
  margin: 0;
}

.view-all-btn {
  background-color: #ede9fe;
  color: #8b20ed;
  border: 1px solid #8b20ed;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-all-btn:hover {
  background-color: #8b20ed;
  color: white;
}

.popular-section .books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
